{% for i in range(4) %}
<div class="row form-row">
    <div class="col-sm-4">
        <select class="form-control"
                name="{{ search_mode }}_filter_field_{{ i }}" 
                id="{{ search_mode }}_filter_field_{{ i }}">
            <option value="">---</option>
            {% for field in filter_fields %}
              <option>{{ field }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control"
            name="{{ search_mode }}_filter_compare_{{ i }}"
            id="{{ search_mode }}_filter_compare_{{ i }}">
            <option value="">---</option>
            {% for k,v in filter_compare %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <input class="form-control"
                name="{{ search_mode }}_filter_value_{{ i }}"
                id="{{ search_mode }}_filter_value_{{ i }}" 
                type="text" 
                placeholder = "Value..."/>
    </div>
    <div class="col-sm-1">
        <a id="{{ search_mode }}_filter_clear_button_{{ i }}" class="btn clear-values glyphicon glyphicon-remove" title="Clear values"></a>
    </div>
</div>
{% endfor %}