{% for e in events %}
<div class="event-desc canonical-search" id="canonical-event_{{ e.id }}" 
    data-event="{{ e.id }}"
    data-key="{{ e.key }}">
    <div class="row">
        <!-- <div class="col-sm-1">
            <form>
                <input type="checkbox" 
                name="canonical-event-checkbox" 
                id="canonical-event-checkbox_{{ e.id }}" 
                value="{{ e.id }}" />
            </form>
        </div> -->
        <div class="col-sm-8">
            <b>key:</b> {{ e.key }}</br>
            <b>canonical_id:</b> {{ e.id }}<br/>
            <b>coder:</b> {{ e.coder_id }} <br/>
            <b>last updated:</b> {{ e.last_updated }} 
        </div>
        <div class="col-sm-2">
            <a href="#" class="canonical-makeactive">
                <b>Add to grid <span class="glyphicon glyphicon-export"></span></b>
            </a>
            <b class="canonical-isactive text-muted" style="display:none;">In the grid</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>desc:</b> {{ e.description | safe }}<br/>
            <b>notes:</b> {{ e.notes | safe }}
        </div>
    </div>
</div>
{% endfor %}