{% for e in events %}
<div class="event-desc canonical-search" id="canonical-event_{{ e.id }}" 
    data-event="{{ e.id }}"
    data-key="{{ e.key }}">
    <div class="row">
        <div class="col-sm-9">
            {% if is_search %}
                <form>
                    <label for="canonical-event-checkbox_{{ e.id }}">
                        <span class="glyphicon glyphicon-download"></span>
                    </label>
                    <input type="checkbox" 
                    class="form-check-input export-checkbox"
                    name="canonical-event-checkbox_{{ e.id }}" 
                    id="canonical-event-checkbox_{{ e.id }}"
                    value="{{ e.id }}" />
                </form>
            {% endif %}
            <b>key:</b> {{ e.key }}
        </div>
        <div class="col-sm-3">
            <a href="#" class="canonical-makeactive">
                <b>Add to grid <span class="glyphicon glyphicon-export"></span></b>
            </a>
            <b class="canonical-isactive text-muted" style="display:none;">In the grid</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>canonical_id:</b> {{ e.id }}<br/>
            <b>coder:</b> {{ e.coder_id }} <br/>
            <b>last updated:</b> {{ e.last_updated }} 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>desc:</b> {{ e.description | safe }}<br/>
            <b>notes:</b> {{ e.notes | safe }}
        </div>
    </div>
    {% if cand_events %}
    <div class="row">
        <div class="col-sm-12"><b>cand events:</b> <br />
            {% for event_id in cand_events[e.id].keys() %}
                {{event_id}}
                <a class="glyphicon canonical-cand-makeactive glyphicon-export" 
                    data-event="{{ event_id }}" 
                    title="Add to grid" href="#"></a> 
                <a class="glyphicon glyphicon-info-sign" 
                    title="{{ cand_events[e.id][event_id].desc }}" href="#"></a>:
                {{ cand_events[e.id][event_id].desc[0:75] }}
                    {{ '...' if cand_events[e.id][event_id].desc | length > 75 else '' }} 
                <br/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}